alembic==1.18.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
asgiref==3.12.1
bcrypt==5.0.0
beautifulsoup4==4.15.0
blinker==1.9.0
click==8.4.1
colorama==0.4.6
distlib==0.4.2
Django==6.1.1
djangorestframework==3.18.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.141.1
filelock==3.29.3
Flask==3.1.3
Flask-Bcrypt==1.0.1
flask-cors==6.0.5
Flask-JWT-Extended==4.7.4
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.1
h11==0.16.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
pillow==12.3.0
platformdirs==4.10.0
psycopg2==2.9.12
psycopg2-binary==2.9.12
pydantic==2.13.5
pydantic_core==2.46.5
PyJWT==2.13.0
pymongo==4.17.0
PyMySQL==1.2.0
python-discovery==1.4.0
python-dotenv==1.2.2
soupsieve==2.10
SQLAlchemy==2.0.50
sqlparse==0.6.0
starlette==1.7.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
uvicorn==0.54.0
virtualenv==21.4.2
Werkzeug==3.1.8
